body {
    font-family: 'Arial', sans-serif;
    background-color: #283593; /* Ajustado para o tom exato da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #000000;
}

.login-container, .form-container {
    background-color: white;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); /* Sombra mais profunda para uma aparência mais sofisticada */
    width: 360px; /* Ajustado para um melhor ajuste visual */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.logo-container img {
    width: 100px; /* Ajuste para uma aparência mais proporcional */
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="number"], button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #F3F3F3;
}

button {
    background-color: #5E35B1;
    color: white;
    font-weight: bold;
    cursor:
}

.imagem-circular {
    width: 100px; /* Ajuste conforme necessário */
    height: 100px; /* Ajuste conforme necessário */
        border-radius: 100%;
}